post_request_file.html
data_csv.csv
__pycache__/api.cpython-37.pyc
__pycache__/CourseType.cpython-37.pyc
__pycache__/Department.cpython-37.pyc
__pycache__/soup.cpython-37.pyc
__pycache__/Subject.cpython-37.pyc
__pycache__/Course.cpython-37.pyc
